# Backend ignore
/Backend/node_modules/
/Backend/.env

# Frontend ignore
/Frontend/node_modules/
/Frontend/.env
/Frontend/build
/Frontend/dist

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
.vscode/
.idea/

# Deployment files
.vercel
.netlify
